@using Hastane.Models

@{
    ViewBag.Title = "DoktorAnasayfa";
    HastaneEntities db = new HastaneEntities();
    string doktorTc = ViewBag.doktorTc;

}

<link href="~/Css/input.css" rel="stylesheet" type="text/css" />
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Reçete Yaz", "DoktorAnasayfa", "Doktor")</li>
            </ul>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Rapor Yaz", "RaporYaz", "Doktor")</li>

            </ul>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Reçeteler", "Receteler", "Doktor")</li>

            </ul>
        </div>
    </div>
</div>
@{
    var hastaListe = db.Randevular.Where(x => x.DoktorTc == doktorTc).Select(x => new { x.Id, x.HastaAdi, x.Bolum, x.DoktorAdi, x.HastaTc, x.RandevuSaati }).ToList();
}

<h1>Reçete Yaz</h1>

@using (Html.BeginForm("DoktorAnasayfa", "Doktor", FormMethod.Post))
{

    <h3>Hastayı Seçiniz</h3>
    foreach (var item in hastaListe)
    {
        <br />
        <div style="background-color: aqua">
            <input id="hasta"
                   name="hasta"
                   type="radio"
                   value=@item.HastaAdi />
            <br />
            <label>
                Hasta Adı:
            </label>@item.HastaAdi<br />
            <label>
                Hasta Tcsi:
            </label> @item.HastaTc <br />
            <label>
                Doktor Adı:
            </label> @item.DoktorAdi <br />
            <label>
                Doktorun Bölümü:
            </label>@item.Bolum <br />
            <label>
                Randevu Saati:
            </label>@item.RandevuSaati <br />
        </div>

    }
    <label>İLAÇ ADI</label>
    <input type="text" name="ilacAdi" />
    <br />
    <label>TUTAR</label>
    <input type="text" name="tutar" />
    <br />
    <button class="asbestos-flat-button" type="submit">Reçeteyi Kaydet</button>
}
